@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Baloo+Bhai+2:wght@400..800&family=Baloo+Tamma+2:wght@400..800&family=Dosis:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&family=Righteous&display=swap');

:root {
    --bg-dark: #0a0a0c;
    --glass-bg: rgba(255, 255, 255, 0.03);
    --glass-border: 1px solid rgba(255, 255, 255, 0.08);
    --primary: #7000ff;
    --accent: #00f2ff;
    --text-main: #ffffff;
    --text-muted: #888888;
    --danger: #ff4757;
}

html{
    scroll-behavior: var(--primary);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

#search {
    position: relative;
    margin-right: 15px;

}

#search .example {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* icon stays right */
    width: 40px;
    height: 40px;
    background: #585858;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.4s ease;
}

#search .example.active {
    width: 260px;
    /* full search bar width */
    border-radius: 25px;
}

#search input {
    width: 0;
    border: none;
    outline: none;
    padding: 0;
    opacity: 0;
    transition: 0.4s ease;
    background: transparent;
    color: white;
}

#search .example.active input {
    width: 180px;
    padding: 8px 12px;
    opacity: 1;
}

#search button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    padding: 0 12px;
}

#search .hi svg {
    fill: white;
    margin-left: 27%;
    margin-top: 3px;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff1a;
    border-radius: 12px;
    z-index: 999;
    transition: 0.5s ease;
    position: fixed;
    top: 0;
    width: 86%;
    margin-top: 1%;
}

.navigation.scrolled {
    border: 1px solid #ffffff45;
    background: linear-gradient(135deg,
    rgb(99 99 99 / 24%) 0%,
    rgb(74 74 74 / 36%) 50%,
    rgb(89 89 89 / 41%) 100%);
    backdrop-filter: url(#glass);
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 2.2);
    border-radius: 12px;
}

.icon {
    /* background: #585858; */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    /* display: none; */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;

}

.navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}

.nav_ul {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
}

.nav_ul li {
    list-style: none;
    color: white;
    padding: 6px 8px;

}

.nav_ul li a {
    text-decoration: none;
    color: white;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons ul li {
    list-style: none;
}

.icons ul {
    list-style: none;
}

.items1 a {
    padding: 0px 8px;
}

.items1 a:hover {
    text-decoration: underline;
    color: #a1d591;
}

.items3 a {
    padding: 0px 8px;
}

.items3 a:hover {
    text-decoration: underline;
    color: #a1d591;
}

.items4 a {
    padding: 0px 8px;
}

.items4 a:hover {
    text-decoration: underline;
    color: #a1d591;
}

.items5 {
    background: #585858;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    list-style: none;
}

.user_profile_btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #585858;
    border-radius: 50px;
    text-decoration: none;
    position: relative;
    z-index: 10;
    margin-right: 15px;
}

.user_profile_btn svg{
    width: 28px;
    height: 28px;
    pointer-events: none;
}

.items7 {
    list-style: none;
    display: none;
}

.items8 {
    list-style: none;
}

.login_btn {
    padding: 10px 25px;
    background: transparent;
    color: white;
    border: 1px solid #ffffff99;
    font-size: 1.0rem;
    border-radius: 30px;
    cursor: pointer;
}

.login_btn:hover {
    color: #a1d591;
}

@media screen and (max-width: 1100px) {
    .nav_ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 62px;
        left: 61%;
        width: 39%;
        background: rgba(0, 0, 0, 0.9);
        padding: 10px 0;
        align-items: baseline;
        height: 700px;
        justify-content: start;
    }

    .nav_ul li {
        padding: 17px 19px;

    }

    .nav_ul.responsive {
        display: flex;
    }

    .icons {
        display: none;
        /* flex-direction: column; */
        position: absolute;
        top: 330px;
        left: 62%;
        /* width: 39%; */
        /* background: rgba(0, 0, 0, 0.9); */
        /* padding: 10px 0; */
    }

    .icons.responsive {
        display: flex;
    }

    .items7 {
        display: block;
        background: #585858;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 15px;
    }
}

#logo {
    width: 42%;
    margin-left: 6%;
    margin-top: 15px;
    margin-bottom: 16px;
    border-radius: 10px;

}

.cart-icon {
    position: relative;
    font-size: 28px;
    cursor: pointer;
}

#cartCount {
    position: relative;
    background: red;
    top: 5px;
    left: 22px;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    width: 12px;
    height: 12px;
    padding-top: 1px;
    display: block;
}

.dropdown {
    position: relative;
    cursor: pointer;
    padding: 0px 8px;
}

.dropdown:hover {
    text-decoration: underline;
    color: #a1d591;
}

.dropdown_btn {
    width: 100%;
    padding: 5px 42px;
    margin-top: 10px;
    background: #555555;
    color: white;
    border: 1px solid #504e4b8c;
    cursor: pointer;
}

.dropdown_btn:hover {
    background: #333333;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #4b49498c;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    min-width: 130px;
    padding: 12px 16px;
    font-family: "Luxurious Roman", serif;
    text-align: justify;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.cart {
    width: 95%;
    height: 71px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-top: -17px;

}

.main h1 {
    font-weight: bolder;
    font-size: 4rem;
    color: white;
    font-family: "Dosis", sans-serif;
    align-items: center;
    text-align: center;
}

#categories {
    font-family: "Lato", sans-serif;
    color: white;
    background-color: #181818;
    background-image: url(file:///var/folders/98/q2z9zwrd36q5pczm2p6lrqv00000gn/T/TemporaryItems/NSIRD_screencaptureui_6flQOI/Screenshot%202026-01-02%20at%202.34.59%E2%80%AFPM.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 28px;
}

#head {
    color: white;
    padding-bottom: 1.5%;
    font-size: 2.5rem;
    margin-left: 12%;
    margin-top: 6%;
}

#product {
    display: flex;
    justify-content: center;
    height: 580px;
}

.produ5 {
    background-color: #232327;
    width: 18%;
    border-radius: 10px;
    margin-right: 2%;
}

.produ5:hover {
    box-shadow: 1px 5px 17px #424253;
    margin-bottom: 10px;
    transition: 0.6s;
    transform: scale(1.09);
}

.produ5 img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 58%;
}

.produ5 p {
    margin-bottom: 4%;
    margin-left: 7%;
    margin-top: 7%;
}

.produ5 h2 {
    margin-bottom: 4%;
    margin-left: 7%;
}
    
.produ5 h1 {
    margin-left: 7%;
}

.produ5 span {
    margin-bottom: 3%;
    margin-left: 7%;
}

.btn5{
    padding: 10px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    margin-left: 59%;
    margin-top: 8%;
}

#star {
    display: flex;
    width: 15px;
}

.produ6 {
    background-color: #232327;
    width: 18%;
    border-radius: 10px;
    margin-right: 2%;
}

.produ6:hover {
    box-shadow: 1px 5px 17px #424253;
    margin-bottom: 10px;
    transition: 0.6s;
    transform: scale(1.09);
}

.produ6 img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 58%;
}

.produ6 p {
    margin-bottom: 4%;
    margin-left: 7%;
    margin-top: 7%;
}

.produ6 h2 {
    margin-bottom: 4%;
    margin-left: 7%;
}
    
.produ6 h1 {
    margin-left: 7%;
}

.produ6 span {
    margin-bottom: 3%;
    margin-left: 7%;
}

.btn6{
    padding: 10px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    margin-left: 59%;
    margin-top: 8%;
}

.produ7 {
    background-color: #232327;
    width: 18%;
    border-radius: 10px;
    margin-right: 2%;
}

.produ7:hover {
    box-shadow: 1px 5px 17px #424253;
    margin-bottom: 10px;
    transition: 0.6s;
    transform: scale(1.09);
}

.produ7 img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 58%;
}

.produ7 p {
    margin-bottom: 4%;
    margin-top: 7%;
    margin-left: 7%;
}

.produ7 h2 {
    margin-bottom: 4%;
    margin-left: 7%;
}

.produ7 h1 {
    margin-left: 7%;
}

.produ7 span{
    margin-bottom: 3%;
    margin-left: 7%;
}

.btn7{
    padding: 10px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    margin-left: 59%;
    margin-top: 8%;
}

.produ8 {
    background-color: #232327;
    width: 18%;
    border-radius: 10px;
    margin-right: 2%;
}

.produ8:hover {
    box-shadow: 1px 5px 17px #424253;
    margin-bottom: 10px;
    transition: 0.6s;
    transform: scale(1.09);
}

.produ8 img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 58%;
}

.produ8 p {
    margin-bottom: 4%;
    margin-top: 7%;
    margin-left: 7%;
}

.produ8 h2 {
    margin-bottom: 4%;
    margin-left: 7%;
}

.produ8 h1 {
    margin-left: 7%;
}

.produ8 span{
    margin-bottom: 3%;
    margin-left: 7%;
}

.btn8{
    padding: 10px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    margin-left: 59%;
    margin-top: 8%;
}

.btn {
    padding: 10px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

#product1 {
    display: flex;
    justify-content: center;
    height: 580px;
    margin-top: 5%;
}

.produ9 {
    background-color: #232327;
    width: 18%;
    border-radius: 10px;
    margin-right: 2%;
}

.produ9:hover {
    box-shadow: 1px 5px 17px #424253;
    margin-bottom: 10px;
    transition: 0.6s;
    transform: scale(1.09);
}

.produ9 img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 58%;
}

.produ9 p {
    margin-bottom: 4%;
    margin-left: 7%;
    margin-top: 7%;
}

.produ9 h2 {
    margin-bottom: 4%;
    margin-left: 7%;
}

.produ9 h1 {
    margin-left: 7%;
}

.produ9 span{
    margin-bottom: 3%;
    margin-left: 7%;
}

.btn9{
    padding: 10px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    margin-left: 59%;
    margin-top: 8%;
}

#star {
    display: flex;
    width: 15px;
}

.produ10 {
    background-color: #232327;
    width: 18%;
    border-radius: 10px;
    margin-right: 2%;
}

.produ10:hover {
    box-shadow: 1px 5px 17px #424253;
    margin-bottom: 10px;
    transition: 0.6s;
    transform: scale(1.09);
}

.produ10 img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 58%;
}

.produ10 p {
    margin-bottom: 4%;
    margin-left: 7%;
    margin-top: 7%;
}

.produ10 h2 {
    margin-bottom: 4%;
    margin-left: 7%;
}

.produ10 h1 {
    margin-left: 7%;
}

.produ10 span{
    margin-bottom: 3%;
    margin-left: 7%;
}

.btn10{
    padding: 10px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    margin-left: 59%;
    margin-top: 8%;
}

.produ11 {
    background-color: #232327;
    width: 18%;
    border-radius: 10px;
    margin-right: 2%;
}

.produ11:hover {
    box-shadow: 1px 5px 17px #424253;
    margin-bottom: 10px;
    transition: 0.6s;
    transform: scale(1.09);
}

.produ11 img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 58%;
}

.produ11 p {
    margin-bottom: 4%;
    margin-left: 7%;
    margin-top: 7%;
}

.produ11 h2 {
    margin-bottom: 4%;
    margin-left: 7%;
}

.produ11 h1 {
    margin-left: 7%;
}

.produ11 span{
    margin-bottom: 3%;
    margin-left: 7%;
}

.btn11{
    padding: 10px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    margin-left: 59%;
    margin-top: 8%;
}

.produ12 {
    background-color: #232327;
    width: 18%;
    border-radius: 10px;
    margin-right: 2%;
}

.produ12:hover {
    box-shadow: 1px 5px 17px #424253;
    margin-bottom: 10px;
    transition: 0.6s;
    transform: scale(1.09);
}

.produ12 img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 58%;
}

.produ12 p {
    margin-bottom: 4%;
    margin-top: 7%;
    margin-left: 7%;
}

.produ12 h2 {
    margin-bottom: 4%;
    margin-left: 7%;
}

.produ12 h1 {
    margin-left: 7%;
}

.produ12 span{
    margin-bottom: 3%;
    margin-left: 7%;
}

.btn12{
    padding: 10px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
    margin-left: 59%;
    margin-top: 8%;
}

.btn-primary {
    background: linear-gradient(45deg, #a1d591, #56bc37);
    color: white;
}

.btn-primary:hover {
    transform: translateY(-2px);
}

.btn-outline {
    background: transparent;
    border: 1px solid var(--accent);
    color: var(--accent);
}

.btn-outline:hover {
    background: var(--accent);
    color: #f5f0f0;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.cart_sidebar {
    font-family: "Lato", sans-serif;
    background: #121214;
    border-left: var(--glass-border);
    z-index: 2000;
    transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.cart_sidebar.open {
    right: 0;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
    color: var(--text-main);
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.cart-header span {
    cursor: pointer;
    font-size: 1.5rem;
}

.cart-items {
    flex-grow: 1;
    overflow-y: auto;

}

.cart-item {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 8px;
}

.cart-item img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
}

.cart-details h4 {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.cart-controls {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 5px;
    margin-left: -9%;
}

.qty-btn {
    background: #333;
    border: none;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.cart-footer {
    border-top: 1px solid #333;
    padding-top: 20px;
}

.total-row {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-main);
    margin-bottom: 20px;
}

#cart_sidebar {
    position: fixed;
    top: 0;
    right: -50%;
    width: 21%;
    height: 96vh;
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.2);
    transition: right 0.4s ease;
}

#cart_sidebar.active {
    right: 0;
}


/* #cart_items div {
    border: 2px solid black;
    background: black;
    color: white;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
} */

#openBtn {
    position: sticky;
    top: 20px;
    right: 30px;
}

#cart_items div {
    border: 2px solid #2c2c2c;
    background: #2c2c2c;
    color: white;
    padding: 3px 10px;
}

.symbol1 {
    margin-left: -3%;
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.symbol {
    cursor: pointer;
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 22px;
}

#trash {
    height: 19px;
    width: 22px;
    cursor: pointer;
}

.symbol3 {
    cursor: pointer;
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    border: none;
    margin-left: 10px;

}

#trash2{
    height: 19px;
    width: 19px;
    cursor: pointer;
}

.price {
    margin-left: -5%;
    display: flex;
    align-items: center;
}

.count {
    font-size: 15px;
}

.product img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 10px;
}

.cart-controls button {
    margin: 0 3px;
}

.checkout_sidebar {
    font-family: "Lato", sans-serif;
    background: #121214;
    border-left: var(--glass-border);
    z-index: 2000;
    transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.checkout_sidebar.open {
    right: 0;
}

#checkout_sidebar {
    position: fixed;
    top: 0;
    right: 100%;
    width: 21%;
    height: 96vh;
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.2);
    transition: right 0.4s ease;
}

#checkout_sidebar.active {
    right: 77%;
}

/* 

.checkout {
    font-family: "Lato", sans-serif;
    position: fixed;
    right: 100%;
    top: 0;
    width: 350px;
    height: 96vh;
    padding: 20px;
    color: white;
    background: #121214;
    border-right: var(--glass-border);
    z-index: 2000;
    transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.checkout.active {
    right: 79.5%;
} */

.checkout_button{
    background: linear-gradient(45deg, #a1d591, #56bc37);
    color: white;
    box-shadow: 0 4px 15px rgba(112, 0, 255, 0.3);
    padding: 10px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

.checkout-footer {
    border-top: 1px solid #333;
    padding-top: 20px;

}

.details {
    font-family: "Lato", sans-serif;
    background: #121214;
    border-left: var(--glass-border);
    z-index: 2000;
    transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.details.open {
    right: 0;
}

#details {
    position: fixed;
    top: 0;
    right: 100%;
    width: 21%;
    height: 96vh;
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.2);
    transition: right 0.4s ease;
}

#details.active {
    right: 77%;
}

.details-footer {
    border-top: 1px solid #333;
    padding-top: 20px;
}

.checkout-items {
    flex-grow: 1;
    overflow-y: auto;
}

.checkout-item {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 8px;
}

.checkout-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

#checkout_items div {
    border: 2px solid #2c2c2c;
    background: #2c2c2c;
    color: white;
    padding: 3px 10px;
    margin-top: 22px;
}

.user-details {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
}

#name {
    padding: 6px 10px;
    margin-bottom: 6%;
    width: 83%;
    margin-left: 5%;
    background: #2c2c2c;
    border: 1px solid #504e4e;
    border-radius: 9px;
    outline: none;
    color: white;
}

#name:hover {
    margin-bottom: 15px;
    transition: 0.6s;
    transform: scale(1.06);
}

#address {
    padding: 6px 10px;
    margin-bottom: 6%;
    width: 83%;
    margin-left: 5%;
    background: #2c2c2c;
    border: 1px solid #504e4e;
    border-radius: 9px;
    outline: none;
    color: white;
}

#address:hover {
    margin-bottom: 15px;
    transition: 0.6s;
    transform: scale(1.06);
}

#number {
    padding: 6px 10px;
    margin-bottom: 6%;
    width: 83%;
    margin-left: 5%;
    background: #2c2c2c;
    border: 1px solid #504e4e;
    border-radius: 9px;
    outline: none;
    color: white;
}

#number:hover {
    margin-bottom: 15px;
    transition: 0.6s;
    transform: scale(1.06);
}

#city {
    padding: 6px 10px;
    margin-bottom: 6%;
    width: 83%;
    margin-left: 5%;
    background: #2c2c2c;
    border: 1px solid #504e4e;
    border-radius: 9px;
    outline: none;
    color: white;
}

#city:hover {
    margin-bottom: 15px;
    transition: 0.6s;
    transform: scale(1.06);
}

#pincode {
    padding: 6px 10px;
    margin-bottom: 6%;
    width: 83%;
    margin-left: 5%;
    background: #2c2c2c;
    border: 1px solid #504e4e;
    border-radius: 9px;
    outline: none;
    color: white;
}

#pincode:hover {
    margin-bottom: 15px;
    transition: 0.6s;
    transform: scale(1.06);
}

#state {
    padding: 6px 10px;
    margin-bottom: 6%;
    width: 83%;
    margin-left: 5%;
    background: #2c2c2c;
    border: 1px solid #504e4e;
    border-radius: 9px;
    outline: none;
    color: white;
}

#state:hover {
    margin-bottom: 15px;
    transition: 0.6s;
    transform: scale(1.06);
}

.payment {
    font-family: "Lato", sans-serif;
    background: #121214;
    border-left: var(--glass-border);
    z-index: 2000;
    transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 20px;
}

.payment.open {
    right: 0;
}

#paymentPage {
    position: fixed;
    top: 0;
    right: 100%;
    width: 21%;
    height: 96vh;
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.2);
    transition: right 0.4s ease;
}

#paymentPage.active {
    color: white;
    right: 77%;
}

.payment-methods {
    display: flex;
    gap: 15px;
    margin: 15px 0;
}

.payment_button{
    width: 100%;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.radio {
    margin-right: 10px;
}

.upiBox {
    width: 95%;
    padding: 10px;
    margin: 8px -3px;
    border-radius: 10px;
    outline: none;
    padding: 6px 10px;
    margin-bottom: 6%;
    background: #2c2c2c;
    color: white;
    border: 1px solid #504e4e;
}

.upiBox:hover {
    margin-bottom: 15px;
    transition: 0.6s;
    transform: scale(1.06);
}

.cardBox {
    width: 95%;
    padding: 10px;
    margin: 8px -3px;
    border-radius: 10px;
    outline: none;
    padding: 6px 10px;
    margin-bottom: 4%;
    background: #2c2c2c;
    color: white;
    border: 1px solid #504e4e;
}

.cardBox:hover {
    margin-bottom: 15px;
    transition: 0.6s;
    transform: scale(1.06);
}

.success {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top: -70%;
    font-family: "Alan Sans", sans-serif;
}

.success.active {
    inset: 0;
    display: flex;
    top: 0;
}

.success-box {
    background: #181818;
    color: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    animation: pop 0.5s ease;
}

.checkmark {
    font-size: 60px;
    color: #09ec09;
    margin-bottom: 10px;
    animation: bounce 0.6s ease;
}

@keyframes pop {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        transform: scale(0);
    }

    60% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


#confetti {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 1000;
}

.confetti-piece {
  position: absolute;
  width: 8px;
  height: 14px;
  opacity: 0.9;
  animation: fall linear forwards;
}

@keyframes fall {
  from {
    transform: translateY(-10px) rotate(0deg);
  }
  to {
    transform: translateY(100vh) rotate(360deg);
  }
}

.orders {
    max-width: 500px;
    margin: 30px auto;
    padding: 15px;
    font-family: "Baloo Bhai 2", sans-serif;
}

.order-card {
   border: 2px solid #474747;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    font-family: "Baloo Thano 2", sans-serif;
}

.order-item {
    font-size: 18px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.order-total {
    margin-top: 10px;
    font-weight: bold;
}

.order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
}

.order-left span {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.order-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.order-left {
    display: flex;
    align-items: center;
}

.view-btn {
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    background: linear-gradient(45deg, #408c28, #3dd210);
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

/* Popup */
.popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9;
    font-family: "Baloo Bhai 2", sans-serif;
}

.popup.active {
    display: flex;
}

.popup-box {
    background: #adadadfa;
    padding: 20px;
    width: 320px;
    border-radius: 12px;
    font-size: 1.4rem;
}

.close {
    float: right;
    cursor: pointer;
}

.footer {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    background: #353434;
    color: white;
    padding: 10px 10px;
}

.cancel-btn {
    margin-top: 10px;
    padding: 6px 10px;
    background: #e53935;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.cancel-btn:disabled {
    background: #aaaaaa;
    background: linear-gradient(300deg, #c9c9c9, #a4a1a1);
    cursor: not-allowed;
}

.status {
    font-weight: bold;
    margin-top: 6px;
}

.status.cancelled {
    color: red;
}

.status.paid {
    color: green;
}

.cancel-btn {
    background: #e53935;
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.remove-btn {
    background: linear-gradient(45deg, #408c28, #3dd210);
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 8px;
}

.order_container{
    background: #2e2e2e;
    margin-top: -1.6%;
    color: white;
    text-align: center;
}
/* Wishlist Styles */
.produ5, .produ6, .produ7, .produ8, .produ9, .produ10, .produ11, .produ12 {
    position: relative;
}

.wishlist-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.wishlist-btn:hover {
    background: rgba(255, 255, 255, 0.4);
    color: #ff4757;
    transform: scale(1.1);
}

