@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Baloo+Bhai+2:wght@400..800&family=Baloo+Tamma+2:wght@400..800&family=Dosis:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&family=Righteous&display=swap');

:root {
    --bg-dark: #0a0a0c;
    --glass-bg: rgba(255, 255, 255, 0.03);
    --glass-border: 1px solid rgba(255, 255, 255, 0.08);
    --primary: #7000ff;
    --accent: #00f2ff;
    --text-main: #ffffff;
    --text-muted: #888888;
    --danger: #ff4757;
}

html {
    scroll-behavior: var(--primary);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #0a0a0a;
    font-family: "Lato", sans-serif;
    /* #121212 */
}

.blur-bg {
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 46%);
    backdrop-filter: blur(9px);
    opacity: 0;
    pointer-events: none;
    transition: 0.4s ease;
    z-index: 1;
}

#search {
    position: relative;
    margin-right: 15px;

}

#search .example {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40px;
    height: 40px;
    background: #585858;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.4s ease;
}

#search .example.active {
    width: 260px;
    border-radius: 25px;
}

#search input {
    width: 0;
    border: none;
    outline: none;
    padding: 0;
    opacity: 0;
    transition: 0.4s ease;
    background: transparent;
    color: white;
}

#search .example.active input {
    width: 180px;
    padding: 8px 12px;
    opacity: 1;
}

#search button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    padding: 0 12px;
}

#search .hi svg {
    fill: white;
    margin-left: 27%;
    margin-top: 3px;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #7a7a7a26;
    border-radius: 12px;
    z-index: 999;
    transition: 0.5s ease;
    position: fixed;
    top: 0;
    width: 86%;
    margin-top: 1%;
}

.navigation.scrolled {
    border: 1px solid #ffffff45;
    background: linear-gradient(135deg,
            rgb(99 99 99 / 24%) 0%,
            rgb(74 74 74 / 36%) 50%,
            rgb(89 89 89 / 41%) 100%);
    backdrop-filter: url(#glass);
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 2.2);
    border-radius: 12px;
}

.icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;

}

.navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}

.nav_ul {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
}

.nav_ul li {
    list-style: none;
    color: white;
    padding: 6px 8px;
}

.nav_ul li a {
    text-decoration: none;
    color: white;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons ul li {
    list-style: none;
}

.icons ul {
    list-style: none;
}

.items1 a {
    padding: 0px 8px;
}

.items1 a:hover {
    text-decoration: underline;
    color: #a1d591;
}

.items3 a {
    padding: 0px 8px;
}

.items3 a:hover {
    text-decoration: underline;
    color: #a1d591;
}

.items4 a {
    padding: 0px 8px;
}

.items4 a:hover {
    text-decoration: underline;
    color: #a1d591;
}

.items5 {
    background: #585858;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    list-style: none;
}

.user_profile_btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #585858;
    border-radius: 50px;
    text-decoration: none;
    position: relative;
    z-index: 10;
    margin-right: 15px;
}

.user_profile_btn svg{
    width: 28px;
    height: 28px;
    pointer-events: none;
}

.items7 {
    list-style: none;
    display: none;
}

.items8 {
    list-style: none;
}

.login_btn {
    padding: 10px 25px;
    background: transparent;
    color: white;
    border: 1px solid #ffffff99;
    font-size: 1.0rem;
    border-radius: 30px;
    cursor: pointer;
}

.login_btn:hover {
    color: #a1d591;
}

@media screen and (max-width: 1100px) {
    .nav_ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 62px;
        left: 61%;
        width: 39%;
        background: rgba(0, 0, 0, 0.9);
        padding: 10px 0;
        align-items: baseline;
        height: 700px;
        justify-content: start;
    }

    .nav_ul li {
        padding: 17px 19px;

    }

    .nav_ul.responsive {
        display: flex;
    }

    .icons {
        display: none;
        /* flex-direction: column; */
        position: absolute;
        top: 330px;
        left: 62%;
        /* width: 39%; */
        /* background: rgba(0, 0, 0, 0.9); */
        /* padding: 10px 0; */
    }

    .icons.responsive {
        display: flex;
    }

    .items7 {
        display: block;
        background: #585858;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 15px;
    }
}

#logo {
    width: 42%;
    margin-left: 6%;
    margin-top: 15px;
    margin-bottom: 16px;
    border-radius: 10px;

}

.cart-icon {
    position: relative;
    font-size: 28px;
    cursor: pointer;
}

#cartCount {
    position: relative;
    background: red;
    top: 5px;
    left: 22px;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    width: 12px;
    height: 12px;
    padding-top: 1px;
    display: block;
}

.dropdown {
    position: relative;
    cursor: pointer;
    padding: 0px 8px;
}

.dropdown:hover {
    text-decoration: underline;
    color: #a1d591;
}

.dropdown_btn {
    width: 100%;
    padding: 5px 42px;
    margin-top: 10px;
    background: #555555;
    color: white;
    border: 1px solid #504e4b8c;
    cursor: pointer;
}

.dropdown_btn:hover {
    background: #333333;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #4b49498c;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    min-width: 130px;
    padding: 12px 16px;
    font-family: "Luxurious Roman", serif;
    text-align: justify;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.cart {
    width: 95%;
    height: 71px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-top: -17px;

}

.btn {
    padding: 10px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-primary {
    background: linear-gradient(45deg, #a1d591, #56bc37);
    color: white;
}

.btn-primary:hover {
    transform: translateY(-2px);
}

.btn-outline {
    background: transparent;
    border: 1px solid var(--accent);
    color: var(--accent);
}

.btn-outline:hover {
    background: var(--accent);
    color: #f5f0f0;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

.orders-wrap{
    color: white;
    margin-top: 7%;
}

.order_header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.status_badge{
    background:#1f6feb;
    padding:6px 14px;
    border-radius:20px;
    font-size:12px;
}

.tracking_box{
    display:flex;
    justify-content:space-between;
    background:#16181d;
    border:1px solid #2a2d34;
    padding:20px;
    border-radius:12px;
    margin-bottom:20px;
}

.track{
    opacity:.5;
    font-size:13px;
}

.track.active{
    color:#4caf50;
    opacity:1;
}

.order_grid{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:20px;
}

.package_item{
    display:flex;
    gap:14px;
    align-items:center;
    padding:12px 0;
    border-bottom:1px solid #2a2d34;
}

.package_item img{
    width:60px;
    height:60px;
    border-radius:8px;
    object-fit:cover;
}

.order_wrapper{
    width:86%;
    margin:40px auto;
}

.order_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background: #16181d;
    border: 1px solid #2a2d34;
    border-radius: 10px;
    padding: 20px 18px;
}

.order_header:hover{
    transform: translateY(-2px);
    background: #ade19d08;
    border: 1px solid #ade19d5e;
}

.order_header p{
    margin-top: 10px;
}

.order_layout{
    display:grid;
    grid-template-columns: 2fr 1fr;
    gap:20px;
}

.left_section{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.card_details{
    background:#16181d;
    border:1px solid #2a2d34;
    border-radius:12px;
    padding:20px;
}

.card_details:hover{
    transform:translateY(-2px);
    background: #ade19d08;
    border: 1px solid #ade19d5e;
}

.customer_detail_name{
    display: flex;
    gap: 18px;
    align-items: center;
}

.customer_detail_phone{
    display: flex;
    gap: 18px;
    align-items: center;
}

.customer_detail_address{
    display: flex;
    gap: 18px;
    align-items: center;
}

.customer{
    display: grid;
    grid-template-columns: auto auto;
}

.card{
    background:#16181d;
    border:1px solid #2a2d34;
    border-radius:12px;
    padding:20px;
}

.card:hover{
    transform:translateY(-2px);
    background: #ade19d08;
    border: 1px solid #ade19d5e;
}

#textarea{
    width: 97%;
    height: 48%;
    background: #16181d;
    color: white;
    border-radius: 12px;
    padding: 10px 14px;
    margin-top: 10px;
    /* outline-color: #a1d591; */
    /* outline-style: groove; */
    outline: none;
}

.review_btn{
    margin-top: 10px;
    width: 13%;
    padding: 9px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;
    background: #a1d591;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
}

.review_btn:hover{
    background: #4e4e4e;
}

input::placeholder {
    color: rgb(248, 0, 0);
    font-size: 14px;
    line-height: 10px;
}

.stars{
    margin-top: 10px;
    cursor: pointer;
}

.one {
  color: rgb(255, 106, 0);
}

.two {
  color: rgb(255, 106, 0);
}

.three {
  color: rgb(255, 106, 0);
}

.four {
  color: rgb(255, 106, 0);
}

.five {
  color: rgb(255, 106, 0);
}

.card1{
    background: #16181d;
    border: 1px solid #2a2d34;
    border-radius: 12px;
    padding: 20px;
    height: 250px;
}

.card1:hover{
    transform:translateY(-2px);
    background: #ade19d08;
    border: 1px solid #ade19d5e;
}

.package_row{
    display:flex;
    gap:23px;
    align-items:center;
    padding:10px 0;
    border-bottom:1px solid #2a2d34;
}

.product_name_price_qty{
    display: flex;
    justify-content: space-between;
    width: 88%;
}

.product_name_price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
}

#qty{
    text-align: end;
}

.product_qty_price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
}

.package_row img{
    width:100px;
    height:100px;
    border-radius:8px;
    object-fit:cover;
}

.right_section{
    position:sticky;
    top:20px;
    height:fit-content;
}


.payment_card {
    background: #16181d;
    padding: 24px;
    border-radius: 12px;
    color: #fff;
    font-family: sans-serif;
    border: 1px solid #2a2d34;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.payment_card:hover{
    transform:translateY(-2px);
    background: #ade19d08;
    border: 1px solid #ade19d5e;
}

.payment_card button{
    width: 100%;
    margin-top: 10px;
    padding: 14px;
    background: #a0d590;
    border: none;
    border-radius: 8px;
}

.title {
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: #ddd;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    color: #d4d4d4;
    font-size: 15px;
}

.row span{
    color: #808080eb;
}

.free {
    font-weight: 600;
}

hr {
    border: none;
    border-top: 1px solid #2a2a2a;
    margin: 18px 0;
}

.total_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.total_row span:first-child {
    color: #808080eb;
    font-size: 18px;
    font-weight: 600;
}

.total_price {
    color: #d4d4d4;
    font-size: 22px;
    font-weight: 700;
}

.payment_method {
    background: #222;
    border-radius: 10px;
    padding: 12px 14px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 18px;
}

.method_name {
    color: #fff;
    font-weight: 600;
}

.bottom_btns {
    display: flex;
    gap: 12px;
}

.invoice_btn,
.buy_btn {
    flex: 1;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background: #000;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.invoice_btn:hover,
.buy_btn:hover {
    background: #4e4e4e;
}

.tracking_card{
    width: 96%;
    margin: 40px 0px;
    padding: 30px;
    padding-bottom: 17px;
    background: #16181d;
    border-radius: 22px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05) inset;
}

.tracking_card:hover{
    transform: translateY(-2px);
    background: #ade19d08;
    border: 1px solid #ade19d5e;
}

/* BASE LINE */
.progress_bar{
    position:absolute;
    top: 90px;
    left: 9%;
    width: 82%;
    height:3px;
    background:#3a3a3a;
    border-radius:10px;
}

/* ACTIVE LINE */
.progress_fill{
    position:absolute;
    top: 90px;
    left: 9%;
    width: 44%; /* change based on step */
    height:3px;
    background: #a0d590;
    border-radius:10px;
}

.step{
    width:20%;
    text-align:center;
    color:#6f6f6f;
}

.circle{
    width:54px;
    height:54px;
    border-radius:50%;
    background:#151515;
    border:2px solid #3a3a3a;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto 12px;
}

.circle svg{
    width:24px;
    height:24px;
    stroke:#777;
    fill:none;
    stroke-width:2;
}

/* TEXT */
.step h4{
    font-size:14px;
    font-weight:600;
    margin:0;
}

.step span{
    font-size:11px;
    color:#888;
}

/* COMPLETED STEP */
.step.active .circle{
    border-color:#a0d590;
    box-shadow:0 0 12px #a0d590;
}

.step.active svg{
    stroke:#a0d590;
}

.step.active h4{
    color:#fff;
}

/* CURRENT STEP */
.step.current .circle{
    border-color: #a0d590;
    box-shadow: 0 0 12px rgb(152 198 133);
}

.step.current svg{
    stroke:#a0d590  ;
}

.step.current h4{
    color:#fff;
}

/* .order_track_popup{
    display: flex;
    justify-content: center;
}

.track_popup{
    background: white;
    width: 23%;
    padding: 20px 20px;
}

.line_details{
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.order_track_line{
    margin-left: 4%;
    border: 2px solid #a0d590;
    border-radius: 10px;
}

.confirmed{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 19px 10px;
    padding-top: 0px;
}

.shipped{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 19px 10px;
}

.place{
    padding: 0px 10px;
    padding-bottom: 19px;
}

.partner{
    padding: 0px 10px;
}

.shipped_details{
    padding: 0px 10px;
}

.delivered{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 19px 10px;
    padding-bottom: 0px;
} */


.order-tracking {
    width: 420px;
    margin: 20px auto;
    background: #16181d;
    padding: 26px 26px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
}

.back{
    display: flex;
    justify-self: end;
}

.tracking {
    position: relative;
    padding-left: 40px;
    padding-bottom: 25px;
}

/* vertical line */
.tracking::before {
    content: "";
    position: absolute;
    left: 8px;
    top: 18px;        /* start from center of dot */
    bottom: -10px;    /* connect next item */
    width: 2px;
    background: #d2d2d2;
}

/* remove line from last item */
.tracking:last-child::before {
    display: none;
}

/* circle */
.circlee {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #d2d2d2;
}

/* active step */
.tracking.active .circlee {
    background: #1db954;
}

.tracking.active::before {
    background: #1db954;
}

.track-content h4 {
    margin: 0;
    font-size: 21px;
    font-weight: 600;
    color: white;
}

.track-content h4 span {
    font-size: 15px;
    color: #aaa7a7cf;
    font-weight: normal;

}

.track-content p {
    margin: 6px 0 2px;
    font-size: 17px;
    color: white;
}

.track-content small {
    font-size: 14px;
    color: #aaa7a7cf;
}


.col-status {
    display: flex;
    justify-content: space-between;
    color: #bbb;
}

.col-status span{
    color: #808080eb;
}

/* .col-status.cancelled {
    color: green;
    border: none;
    padding: 10px 10px;
    background: #a0d591;
    border-radius: 10px;
}

.col-status.paid {
    color: green;
    border: none;
    padding: 7px 10px;
    background: #a0d591;
    border-radius: 10px;
} */

.paid{ 
    color: #33df7d;
    font-size: 16px;
    font-weight: 900;
}

.cancelled{ 
    color:#FF4857;
    font-weight: 900;
}
