@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Baloo+Bhai+2:wght@400..800&family=Baloo+Tamma+2:wght@400..800&family=Dosis:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&family=Righteous&display=swap');

:root {
    --bg-dark: #0a0a0c;
    --glass-bg: rgba(255, 255, 255, 0.03);
    --glass-border: 1px solid rgba(255, 255, 255, 0.08);
    --primary: #7000ff;
    --accent: #00f2ff;
    --text-main: #ffffff;
    --text-muted: #888888;
    --danger: #ff4757;
}

html {
    scroll-behavior: var(--primary);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #0a0a0a;
    font-family: "Lato", sans-serif;
    /* #121212 */
}

.blur-bg {
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 46%);
    backdrop-filter: blur(9px);
    opacity: 0;
    pointer-events: none;
    transition: 0.4s ease;
    z-index: 1;
}

#search {
    position: relative;
    margin-right: 15px;

}

#search .example {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40px;
    height: 40px;
    background: #585858;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.4s ease;
}

#search .example.active {
    width: 260px;
    border-radius: 25px;
}

#search input {
    width: 0;
    border: none;
    outline: none;
    padding: 0;
    opacity: 0;
    transition: 0.4s ease;
    background: transparent;
    color: white;
}

#search .example.active input {
    width: 180px;
    padding: 8px 12px;
    opacity: 1;
}

#search button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    padding: 0 12px;
}

#search .hi svg {
    fill: white;
    margin-left: 27%;
    margin-top: 3px;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #7a7a7a26;
    border-radius: 12px;
    z-index: 999;
    transition: 0.5s ease;
    position: fixed;
    top: 0;
    width: 86%;
    margin-top: 1%;
}

.navigation.scrolled {
    border: 1px solid #ffffff45;
    /* background: linear-gradient(135deg,
            rgb(99 99 99 / 24%) 0%,
            rgb(74 74 74 / 36%) 50%,
            rgb(89 89 89 / 41%) 100%); */
    backdrop-filter: url(#glass);
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 2.2);
    border-radius: 12px;
}

.icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;

}

.navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}

.nav_ul {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
}

.nav_ul li {
    list-style: none;
    color: white;
    padding: 6px 8px;
}

.nav_ul li a {
    text-decoration: none;
    color: white;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons ul li {
    list-style: none;
}

.icons ul {
    list-style: none;
}

.items1 a {
    padding: 0px 8px;
}

.items1 a:hover {
    text-decoration: underline;
    color: #a1d591;
}

.items3 a {
    padding: 0px 8px;
}

.items3 a:hover {
    text-decoration: underline;
    color: #a1d591;
}

.items4 a {
    padding: 0px 8px;
}

.items4 a:hover {
    text-decoration: underline;
    color: #a1d591;
}

.items5 {
    background: #585858;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    list-style: none;
}

.user_profile_btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #585858;
    border-radius: 50px;
    text-decoration: none;
    position: relative;
    z-index: 10;
    margin-right: 15px;
}

.user_profile_btn svg{
    width: 28px;
    height: 28px;
    pointer-events: none;
}

.items7 {
    list-style: none;
    display: none;
}

.items8 {
    list-style: none;
}

.login_btn {
    padding: 10px 25px;
    background: transparent;
    color: white;
    border: 1px solid #ffffff99;
    font-size: 1.0rem;
    border-radius: 30px;
    cursor: pointer;
}

.login_btn:hover {
    color: #a1d591;
}

@media screen and (max-width: 1100px) {
    .nav_ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 62px;
        left: 61%;
        width: 39%;
        background: rgba(0, 0, 0, 0.9);
        padding: 10px 0;
        align-items: baseline;
        height: 700px;
        justify-content: start;
    }

    .nav_ul li {
        padding: 17px 19px;

    }

    .nav_ul.responsive {
        display: flex;
    }

    .icons {
        display: none;
        position: absolute;
        top: 330px;
        left: 62%;
    }

    .icons.responsive {
        display: flex;
    }

    .items7 {
        display: block;
        background: #585858;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 15px;
    }
}

#logo {
    width: 42%;
    margin-left: 6%;
    margin-top: 15px;
    margin-bottom: 16px;
    border-radius: 10px;

}

.cart-icon {
    position: relative;
    font-size: 28px;
    cursor: pointer;
}

#cartCount {
    position: relative;
    background: red;
    top: 5px;
    left: 22px;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    width: 12px;
    height: 12px;
    padding-top: 1px;
    display: block;
}

.dropdown {
    position: relative;
    cursor: pointer;
    padding: 0px 8px;
}

.dropdown:hover {
    text-decoration: underline;
    color: #a1d591;
}

.dropdown_btn {
    width: 100%;
    padding: 5px 42px;
    margin-top: 10px;
    background: #555555;
    color: white;
    border: 1px solid #504e4b8c;
    cursor: pointer;
}

.dropdown_btn:hover {
    background: #333333;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #4b49498c;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    min-width: 130px;
    padding: 12px 16px;
    font-family: "Luxurious Roman", serif;
    text-align: justify;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.cart {
    width: 95%;
    height: 71px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-top: -17px;

}

.btn {
    padding: 10px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-primary {
    background: linear-gradient(45deg, #a1d591, #56bc37);
    color: white;
}

.btn-primary:hover {
    transform: translateY(-2px);
}

.btn-outline {
    background: transparent;
    border: 1px solid var(--accent);
    color: var(--accent);
}

.btn-outline:hover {
    background: var(--accent);
    color: #f5f0f0;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

.orders-wrap{
    color: white;
    margin-top: 7%;
}

.order_wrapper{
    width:86%;
    margin:40px auto;
}

.details_section {
    flex: 3;
    width:100%;
}

.rating {
    color: #ffb400;
    margin-bottom: 10px;
    font-size: 16px;
}

.rating span {
    color: #777;
}

.qty_control {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
}

.qty_box{
    gap: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.qty_control button {
    padding: 6px 12px;
    border: none;
    background: #f2f2f2;
    cursor: pointer;
    border-radius: 5px
}

.qty_control span {
    padding: 0 15px;
}

.action_buttons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.add_cart {
    background: #a2d592;
    width: 17%;
    color: rgb(0, 0, 0);
    border: none;
    padding: 16px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.buy_now {
    background: #ffffff05;
    border: 1px solid #a2d592a3;
    color: #a2d592;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    width: 17%;
    font-weight: 600;
    font-size: 16px;
}

.useful_box {
    margin-top: 25px;
}

.useful_box ul {
    padding-left: 18px;
    color: #555;
}

.order_wrapper{
    margin:auto;
    padding:30px 20px;
}

.product_page{
    display:grid;
    grid-template-columns: 520px 1fr;
    background: #2a2930;
    gap:30px;
    align-items:start;
    padding: 30px;
    border-radius: 12px;
}

.image_section{
    position:sticky;
    top:20px;
}

.main_image{
    width:100%;
    border-radius:14px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.main_image img{
    width:100%;
    border-radius: 10px;
}

.thumb_images_main_image{
    display: flex;
}

.thumb_images_main_image img{
    width: 10%;
}

.thumb_images{
    display:flex;
    gap:12px;
    margin-bottom:12px;
    width:47%;
    margin-top:12px;
}

.thumb_images img{
    width:50%;
    object-fit:cover;
    border-radius:8px;
    cursor:pointer;
    border:2px solid transparent;
    transition:0.2s;
}

.thumb_images img:hover{
    border: 2px solid #a0d490;
}

.image_buttons{
    display:flex;
    gap:15px;
    margin-top:15px;
}

.add_cart{
    flex:1;
    height:48px;
    background:#4e4e4e;
    color:#fff;
    border:none;
    border-radius:10px;
    font-weight:500;
    cursor:pointer;
}

.buy_now {
   flex: 1;
    height: 48px;
    background: #a0d490;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}

.product_title{
    font-size:28px;
    font-weight:600;
    margin-bottom:10px;
}

.rating_row{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:15px;
}

.rating_badge{
    background:#16a34a;
    padding:4px 8px;
    border-radius:5px;
    font-size:14px;
}

.rating_text{
    color:#aaa;
    font-size:14px;
}

.best_seller{
    background:#ffc107;
    color:#000;
    font-size:12px;
    padding:3px 8px;
    border-radius:5px;
}

.price_box{
    display:flex;
    align-items:center;
    gap:12px;
    margin:15px 0;
}

.new_price{
    font-size:30px;
    font-weight:700;
}

.old_price{
    text-decoration:line-through;
    color:#888;
    margin-right: 10px;
    font-weight: 700;
}

.discount{
    color:#4caf50;
    font-weight:600;
}

.offer_box{
    background: #404040;
    border-radius: 12px;
    padding: 18px;
    margin: 20px 0;
}

.offer_box h3{
    margin-bottom:10px;
}

.offer_box ul{
    padding-left:18px;
    color:#ccc;
}

.offer_box li{
    margin-bottom:6px;
    font-weight: 100;
}

.color_box{
    margin:20px 0;
}

.colors{
    display:flex;
    gap:10px;
    margin-top:8px;
}

.color{
    width:28px;
    height:28px;
    border-radius:50%;
    cursor:pointer;
    border:2px solid transparent;
}

.color.active{
    border:2px solid #fff;
}

.size_box{
    margin:20px 0;
}

.size{
    margin-right:8px;
    margin-top:8px;
    padding:8px 14px;
    border-radius:6px;
    border:1px solid #444;
    background:transparent;
    color:#fff;
    cursor:pointer;
}

.size.active{
    background:#a0d490;
    color:#ffffff;
    font-weight: 500;
    border:none;
}

.delivery_box{
    margin:20px 0;
}

.delivery_box input{
    padding:10px;
    border-radius:6px;
    border:none;
    outline:none;
    margin-right:8px;
    margin-top: 8px;
}

.delivery_box button{
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    background: #a0d490;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.delivery_text{
    display:block;
    margin-top:8px;
    color:#a0d490;
}

.highlight_box{
    margin:20px 0;
}

.highlight_box ul{
    padding-left:18px;
    color:#ccc;
        margin-top: 10px;
}

.highlight_box li{
    margin-bottom:5px;
}

.description_box{
    margin-top:20px;
    color:#bbb;
    line-height:1.6;
}

@media(max-width:1000px){
    .product_page{
        grid-template-columns:1fr;
        margin-top: 10%;
        gap: 19px;
        padding: 15px;
    }

    /* .main_image img{
    height:400px;
    } */

    .image_section{
        position:static;
    }

    .rating_badge{
        font-size: 12px;
    }

    .buy_now{
        font-size: 11px;
    }

    .add_cart{
        font-size: 11px;
    }

    .delivery_box button{
        margin-top: 10px;
    }

    .highlight_box ul{
        margin-top: 10px;
    }
}