.wrapper {
    width: 800px;
    height: 556px;
    /* background: #eaeaea; */
    background: #ffffff;
    color: #434242;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    position: relative;
    z-index: 2;
    font-family: "Rubik", sans-serif;
}

.wrapper.open {
    top: 0;
}

#wrapper {
    position: fixed;
    top: -120%;
    right: 0;
    width: 800px;
    height: 556px;
}

#wrapper.active {
    animation: pop 0.5s ease;
    top: 20%;
    right: 28%;
}

.blur-bg {
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 46%);
    backdrop-filter: blur(9px);
    opacity: 0;
    pointer-events: none;
    transition: 0.4s ease;
    z-index: 1;
}

.wrapper span {
    cursor: pointer;
    font-size: 2.5rem;
    margin-right: 13px;
    height: 7%;
}

.wrapper p {
    cursor: pointer;
    font-size: 1.3rem;

}

/* Left Panel */
.panel {
    width: 40%;
    background: linear-gradient(45deg, #a1d591, #56bc37);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.panel button {
    margin: 10px;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    color: #63e23d;
    font-weight: bold;
    cursor: pointer;
    background: white;
}

/* Right Forms */
.forms {
    width: 52%;
    position: relative;
    overflow: hidden;
}

.form {
    position: absolute;
    width: 86%;
    height: 82%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    transition: 0.4s ease;
}

.form.active {
    opacity: 1;
    pointer-events: auto;
}

.form2 {
    position: absolute;
    width: 42%;
    height: 84%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* transition: 0.8s; */
    margin-left: 44%;
    opacity: 1;
    transition: 0.4s ease;
}

.form2.active {
    opacity: 1;
    pointer-events: auto;
}

.input-box {
    position: relative;
    margin: 10px 0;
}

.input-box i {
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
}

.input-box input {
    width: 85%;
    padding: 12px 12px 12px 40px;
    border: 1px solid #ccc;
    border-radius: 50px;
    outline: none;
}

/* Login visible by default */
.login {
    left: 0;
}

.signup {
    left: 100%;
}

/* Liquid Button */
.liquid {
    margin-top: 15px;
    padding: 12px;
    border: none;
    background: #302b63;
    color: white;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.liquid::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, #ff512f 20%, transparent 70%);
    top: -50%;
    left: -50%;
    animation: liquid 4s linear infinite;
}

@keyframes liquid {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.liquid span {
    position: relative;
    z-index: 2;
}

.liquid-btn {
    position: relative;
    padding: 8px 40px;
    border: none;
    outline: none;
    background: #434242;
    color: #ffffff;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    margin-top: 16px;
    width: 100%;
}

/* Text on top */
.liquid-btn span {
    position: relative;
    z-index: 2;
}

/* Hover effect */
.liquid-btn:hover {
    transform: scale(1.05);
    transition: 0.5s;
    background: #646363;
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(10);
    }
}

.google-btn {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    color: #444;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    /* font-weight: bold; */
    transition: 0.3s;
}

.google-btn:hover {
    background: #f1f1f1;
}

.forgot {
    text-align: right;
    font-size: 13px;
    margin-top: 5px;
}

.forgot a {
    color: #2f23b2;
    text-decoration: none;
}

.forgot a:hover {
    text-decoration: underline;
}