@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Baloo+Bhai+2:wght@400..800&family=Baloo+Tamma+2:wght@400..800&family=Dosis:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&family=Righteous&display=swap');

:root {
    --bg-dark: #0a0a0c;
    --glass-bg: rgba(255, 255, 255, 0.03);
    --glass-border: 1px solid rgba(255, 255, 255, 0.08);
    --primary: #7000ff;
    --accent: #00f2ff;
    --text-main: #ffffff;
    --text-muted: #888888;
    --danger: #ff4757;
}

html {
    scroll-behavior: var(--primary);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #0a0a0a;
    font-family: "Lato", sans-serif;
    /* #121212 */
}

.blur-bg {
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 46%);
    backdrop-filter: blur(9px);
    opacity: 0;
    pointer-events: none;
    transition: 0.4s ease;
    z-index: 1;
}

#search {
    position: relative;
    margin-right: 15px;

}

#search .example {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* icon stays right */
    width: 40px;
    height: 40px;
    background: #585858;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.4s ease;
}

#search .example.active {
    width: 260px;
    /* full search bar width */
    border-radius: 25px;
}

#search input {
    width: 0;
    border: none;
    outline: none;
    padding: 0;
    opacity: 0;
    transition: 0.4s ease;
    background: transparent;
    color: white;
}

#search .example.active input {
    width: 180px;
    padding: 8px 12px;
    opacity: 1;
}

#search button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    padding: 0 12px;
}

#search .hi svg {
    fill: white;
    margin-left: 27%;
    margin-top: 3px;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #7a7a7a26;
    border-radius: 12px;
    z-index: 999;
    transition: 0.5s ease;
    position: fixed;
    top: 0;
    width: 86%;
    margin-top: 1%;
}

.navigation.scrolled {
    border: 1px solid #ffffff45;
    background: linear-gradient(135deg,
            rgb(99 99 99 / 24%) 0%,
            rgb(74 74 74 / 36%) 50%,
            rgb(89 89 89 / 41%) 100%);
    backdrop-filter: url(#glass);
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 2.2);
    border-radius: 12px;
}

.icon {
    /* background: #585858; */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    /* display: none; */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;

}

.navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}

.nav_ul {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
}

.nav_ul li {
    list-style: none;
    color: white;
    padding: 6px 8px;
}

.nav_ul li a {
    text-decoration: none;
    color: white;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons ul li {
    list-style: none;
}

.icons ul {
    list-style: none;
}

.items1 a {
    padding: 0px 8px;
}

.items1 a:hover {
    text-decoration: underline;
    color: #a1d591;
}

.items3 a {
    padding: 0px 8px;
}

.items3 a:hover {
    text-decoration: underline;
    color: #a1d591;
}

.items4 a {
    padding: 0px 8px;
}

.items4 a:hover {
    text-decoration: underline;
    color: #a1d591;
}

.items5 {
    background: #585858;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    list-style: none;
}

.user_profile_btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #585858;
    border-radius: 50px;
    text-decoration: none;
    position: relative;
    z-index: 10;
    margin-right: 15px;
}

.user_profile_btn svg{
    width: 28px;
    height: 28px;
    pointer-events: none;
}

.items7 {
    list-style: none;
    display: none;
}

.items8 {
    list-style: none;
}

.login_btn {
    padding: 10px 25px;
    background: transparent;
    color: white;
    border: 1px solid #ffffff99;
    font-size: 1.0rem;
    border-radius: 30px;
    cursor: pointer;
}

.login_btn:hover {
    color: #a1d591;
}

@media screen and (max-width: 1100px) {
    .nav_ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 62px;
        left: 61%;
        width: 39%;
        background: rgba(0, 0, 0, 0.9);
        padding: 10px 0;
        align-items: baseline;
        height: 700px;
        justify-content: start;
    }

    .nav_ul li {
        padding: 17px 19px;

    }

    .nav_ul.responsive {
        display: flex;
    }

    .icons {
        display: none;
        /* flex-direction: column; */
        position: absolute;
        top: 330px;
        left: 62%;
        /* width: 39%; */
        /* background: rgba(0, 0, 0, 0.9); */
        /* padding: 10px 0; */
    }

    .icons.responsive {
        display: flex;
    }

    .items7 {
        display: block;
        background: #585858;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 15px;
    }
}

#logo {
    width: 42%;
    margin-left: 6%;
    margin-top: 15px;
    margin-bottom: 16px;
    border-radius: 10px;

}

.cart-icon {
    position: relative;
    font-size: 28px;
    cursor: pointer;
}

#cartCount {
    position: relative;
    background: red;
    top: 5px;
    left: 22px;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    width: 12px;
    height: 12px;
    padding-top: 1px;
    display: block;
}

.dropdown {
    position: relative;
    cursor: pointer;
    padding: 0px 8px;
}

.dropdown:hover {
    text-decoration: underline;
    color: #a1d591;
}

.dropdown_btn {
    width: 100%;
    padding: 5px 42px;
    margin-top: 10px;
    background: #555555;
    color: white;
    border: 1px solid #504e4b8c;
    cursor: pointer;
}

.dropdown_btn:hover {
    background: #333333;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #4b49498c;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    min-width: 130px;
    padding: 12px 16px;
    font-family: "Luxurious Roman", serif;
    text-align: justify;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.cart {
    width: 95%;
    height: 71px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-top: -17px;

}

.btn {
    padding: 10px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-primary {
    background: linear-gradient(45deg, #a1d591, #56bc37);
    color: white;
}

.btn-primary:hover {
    transform: translateY(-2px);
}

.btn-outline {
    background: transparent;
    border: 1px solid var(--accent);
    color: var(--accent);
}

.btn-outline:hover {
    background: var(--accent);
    color: #f5f0f0;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

body {
    background: #0a0a0a;
    font-family: Arial, Helvetica, sans-serif;
}

.order_page {
    display: flex;
    gap: 20px;
    padding: 21px 21px;
    margin-top: 5%;
    width: 86%;
    margin-left: 6%;
}

.order_left {
    flex: 7;
}

.order_right {
    flex: 3;
}

.product_card {
    display: flex;
    background: #ffffffc2;
    padding: 20px;
    border-radius: 8px;
    gap: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.product_img {
    width: 120px;
    border-radius: 6px;
}

.product_info img {
    width:44px;
    height:44px;
    object-fit:cover;
    border-radius: 6px;
}

.product_card img {
    width:44px;
    height:44px;
    object-fit:cover;
    border-radius: 6px;
}

.product_info h2 {
    font-size: 20px;
    margin-bottom: 6px;
}

.seller {
    color: gray;
    font-size: 14px;
}

.price {
    color: #2874f0;
    margin: 10px 0;
}

.timeline .success {
    color: green;
    font-size: 14px;
}

.rate_box,
.issue_box{
    background: #ffffffc2;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.detail_card{
    background: #ffffffc2;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.star {
  font-size: 2.6vh;
  cursor: pointer;
}
.one {
  color: rgb(255, 106, 0);
}
.two {
  color: rgb(255, 106, 0);
}
.three {
  color: rgb(255, 106, 0);
}
.four {
  color: rgb(255, 106, 0);
}
.five {
  color: rgb(255, 106, 0);
}

.resolved {
    color: green;
    font-weight: bold;
}

.detail_card p {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 8px 0;
}

.green {
    color: green;
}

.invoice_btn {
    width: 100%;
    padding: 14px;
    border: none;
    background: #a1d591;
    color: #000000;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;

}

.orders-wrap{
    width:100%;
    margin-top:20px;
}

/* header row */
.order-head{
    color: white;
    display: flex;
    padding: 15px 18px;
    padding-left: 0px;
    font-weight: 600;
    opacity: .6;
    font-size: 14px;
    background: #ffffff00;
    border: 1px solid #80808047;
    border-radius: 14px;
    margin-bottom: 3%;
}

/* order row card */
.order-row{
    color: white;
    display:flex;
    align-items:center;
    background: #ffffff00;
    border: 1px solid #80808047;
    border-radius:14px;
    padding:14px 18px;
    padding-left: 0px;
    margin-bottom:14px;
    box-shadow:0 6px 16px rgba(0,0,0,0.06);
    transition:.2s;
    cursor: pointer;
}

.order-row:hover{
    transform:translateY(-2px);
    background: #ade19d08;
    border: 1px solid #ade19d5e;
}

/* columns */
.col-id{ width:110px; }
.col-product{ flex:2; display:flex; align-items:center; gap:12px; }
.col-quantity{width: 100px; font-weight: 600;}
.col-date{ width:140px; }
.col-price{ width:100px; font-weight:600; }
.col-status{ width:120px; }
.col-action{ width: 126px; }

.col-product img{
    width:44px;
    height:44px;
    border-radius:8px;
    object-fit:cover;
}

.col-product_detail{
    text-align: justify;
}

.status-pill{
    padding:6px 12px;
    border-radius:20px;
    font-size:12px;
    font-weight:600;
}

.paid{ 
    background: #d4f5e0;
    color: #1b8f4d;
    padding: 4px 24px;
    font-size: 14px; 
}

.cancelled{ 
    background:#ffd6d6;
    color:#b40000;
}

.view-btn2{
    background: #0d6efd;
    color: #fff;
    border: none;
    padding: 3px 3px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* height: 20px; */
    margin-top: 9px;
}

.action-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 22px;
    margin-top: -10px;
}

.cancel-btn{
    background: red;
    color: #fff;
    border: none;
    padding: 0px 0px;
    border-radius: 6px;
    cursor: pointer;
}

.cancelled-text{
    background: red;
    color: #fff;
    border: none;
    padding: 0px 0px;
    border-radius: 6px;
    /* cursor: pointer; */
    margin-top: 10px;
    position: relative;
}

.cancel_deopdown {
  display: none;
  position: absolute;
  background-color: #272727;
  color: #767676;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}

.cancelled-text:hover .cancel_deopdown {
  display: block;
}